@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .desktop-screen {
    max-width: 1440px;
  }
  .pr-clr {
    color: #3b82f6; /* (blue) */
  }
  .sec-clr {
    color: #10b981; /* (green) */
  }
  .light-text {
    color: #f3f4f6; /* (light gray) */
  }

  .bg-clr {
    background-color: #f3f4f6; /* (light gray) */
  }
  .text-clr {
    color: #1f2937; /* (dark gray) */
  }
  .accent-clr {
    color: #ef4444; /* (red, for delete actions) */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}
